PORT
JWT_SECRET

DATABASE_URL

AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

ECS_CLUSTER_ARN
ECS_TASK_DEFINITION_ARN
ECS_SUBNETS_1
ECS_SUBNETS_2
ECS_SECURITY_GROUPS

S3_URL
S3_BUCKET

ROUTE53_HOSTED_ZONE_ID
ROUTE53_DOMAIN_NAME
ROUTE53_S3_PROXY_PORT
ROUTE53_TTL
S3_PROXY_PUBLIC_IP